.swissup-theme-editor-tab {
    .swissup-themes-container & {
        .admin__page-nav-item {
            .admin__page-nav-link {
                .img-wrapper {
                    background: #fff;
                    border-radius: 5px;
                    margin-bottom: 10px;
                    box-shadow: 0 3px 20px -3px rgba(0,0,0,0.35);
                    overflow: hidden;
                }
            }

            &._active {
                .img-wrapper {
                    box-shadow: 0 3px 20px -3px rgba(0,0,0,0.35), 0 0 0 2px #007bdb;
                }
            }
        }
    }
}

.swissup-theme-editor-config-item {
    .items {
        .img-wrapper {
            display: none;
        }
    }
}
