<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Swissup_ThemeEditor::config" title="Swissup Themes Editor">
                                <resource id="Swissup_ThemeEditor::config_swissup_absolute" title="Absolute Theme Editor"/>
                                <resource id="Swissup_ThemeEditor::config_argento_essence" title="Argento Essence Editor"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
