<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <swissup_argento_pure2>
            <header_config>
                <exclude>checkout_index_index
firecheckout_index_index</exclude>
            </header_config>
        </swissup_argento_pure2>
    </default>
</config>
