<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Swissup\ThemeEditor\Api\AccessTokenInterface" type="Swissup\ThemeEditor\Model\Data\AccessToken" />
    <type name="Magento\Framework\GraphQl\Query\Resolver\QueryObject">
        <arguments>
            <argument name="resolvers" xsi:type="array">
                <item name="getThemeEditorProperties" xsi:type="string">Swissup\ThemeEditor\Model\Resolver\GetThemeEditorProperties</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\GraphQl\Query\Resolver\Argument\FieldEntity\Factory">
        <arguments>
            <argument name="resolvers" xsi:type="array">
                <item name="updateThemeEditorPropertyValues" xsi:type="string">Swissup\ThemeEditor\Model\Resolver\UpdateThemeEditorPropertyValues</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Model\Layout\Merge">
        <plugin name="swissup_themeeditor" type="Swissup\ThemeEditor\Plugin\Framework\LayoutMerge" sortOrder="5"/>
    </type>
    <type name="Magento\Theme\Model\Design\Config\MetadataProvider">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="header_logo_alt_src" xsi:type="array">
                    <item name="path" xsi:type="string">design/header/logo_alt_src</item>
                    <item name="fieldset" xsi:type="string">other_settings/header</item>
                    <item name="backend_model" xsi:type="string">Magento\Theme\Model\Design\Backend\Logo</item>
                    <item name="base_url" xsi:type="array">
                        <item name="type" xsi:type="string">media</item>
                        <item name="scope_info" xsi:type="string">1</item>
                        <item name="value" xsi:type="string">logo</item>
                    </item>
                </item>
                <item name="swissup_theme_editor_code" xsi:type="array">
                    <item name="path" xsi:type="string">design/swissup_theme_editor/code</item>
                    <item name="fieldset" xsi:type="string">theme</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Swissup\ThemeEditor\Model\Config\Backend\PageLayout">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="themeFactory" xsi:type="object">Magento\Theme\Model\ThemeFactory</item>
                <item name="themeCode" xsi:type="null" />
                <item name="configValueFactory" xsi:type="object">Magento\Framework\App\Config\ValueFactory</item>
                <item name="layoutLinkFactory" xsi:type="object">Magento\Widget\Model\Layout\LinkFactory</item>
                <item name="layoutUpdateFactory" xsi:type="object">Magento\Widget\Model\Layout\UpdateFactory</item>
            </argument>
        </arguments>
    </type>
    <type name="Swissup\ThemeEditor\Model\Config\Backend\ColumnsCount">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="themeFactory" xsi:type="object">Magento\Theme\Model\ThemeFactory</item>
                <item name="themeCode" xsi:type="null" />
                <item name="configValueFactory" xsi:type="object">Magento\Framework\App\Config\ValueFactory</item>
                <item name="layoutLinkFactory" xsi:type="object">Magento\Widget\Model\Layout\LinkFactory</item>
                <item name="layoutUpdateFactory" xsi:type="object">Magento\Widget\Model\Layout\UpdateFactory</item>
                <item name="mathRandom" xsi:type="object">Magento\Framework\Math\Random</item>
            </argument>
        </arguments>
    </type>
    <type name="Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Themes">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="themeCollectionFactory" xsi:type="object">Magento\Theme\Model\ResourceModel\Theme\CollectionFactory</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="graphqlConfigScope" type="Magento\Framework\Config\Scope">
        <arguments>
            <argument name="defaultScope" xsi:type="string">adminhtml</argument>
        </arguments>
    </virtualType>
    <virtualType name="graphqlConfigStructureData" type="\Magento\Config\Model\Config\Structure\Data">
        <arguments>
            <argument name="configScope" xsi:type="object">graphqlConfigScope</argument>
        </arguments>
    </virtualType>
    <virtualType name="graphqlConfigStructure" type="Magento\Config\Model\Config\Structure">
        <arguments>
            <argument name="structureData" xsi:type="object">graphqlConfigStructureData</argument>
        </arguments>
    </virtualType>
    <type name="Swissup\ThemeEditor\Model\Resolver\GetThemeEditorProperties">
        <arguments>
            <argument name="configStructure" xsi:type="object">graphqlConfigStructure</argument>
        </arguments>
    </type>
    <virtualType name="graphqlCssGenerator" type="Swissup\ThemeEditor\Model\Css">
        <arguments>
            <argument name="configStructure" xsi:type="object">graphqlConfigStructure</argument>
        </arguments>
    </virtualType>
    <type name="Swissup\ThemeEditor\Model\Resolver\UpdateThemeEditorPropertyValues">
        <arguments>
            <argument name="cssModel" xsi:type="object">graphqlCssGenerator</argument>
        </arguments>
    </type>
</config>
