<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_postdispatch_adminhtml_system_config_save">
        <observer name="swissup_theme_editor_config_save" instance="Swissup\ThemeEditor\Observer\Backend\ThemeEditorConfigSave" />
    </event>
</config>
