<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="theme_editor" sortOrder="290" translate="label" class="swissup-mover-tab swissup-theme-editor-tab">
            <label>Swissup Themes Editor</label>
        </tab>

        <section id="theme_editor" translate="label" type="text" sortOrder="2040" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top swissup-theme-editor-config-item</class>
            <label>Themes Editor</label>
            <tab>swissup</tab>
            <resource>Swissup_ThemeEditor::config</resource>

            <include path="Swissup_ThemeEditor::system/themes.xml"/>
        </section>
    </system>
</config>
