<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="theme_editor" sortOrder="300">
            <label>Swissup Themes Editor</label>
        </tab>

        <!-- Absolute Theme Editor START -->
        <section id="swissup_absolute" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Absolute Theme</label>
            <tab>theme_editor</tab>
            <resource>Swissup_ThemeEditor::config_swissup_absolute</resource>

            <group id="background" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Background</label>
                <field id="body_heading" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Body</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="body_background" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Background</label>
                </field>
                <field id="body_backgroundColor" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Background Color</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                </field>
                <field id="body_backgroundRepeat" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Background Repeat</label>
                    <source_model>Swissup\ThemeEditor\Model\Config\Source\BackgroundRepeat</source_model>
                </field>

                <field id="footer_heading" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Footer</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="footer_background" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Background</label>
                </field>
                <field id="footer_backgroundColor" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Background Color</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                </field>
                <field id="footer_backgroundRepeat" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Background Repeat</label>
                    <source_model>Swissup\ThemeEditor\Model\Config\Source\BackgroundRepeat</source_model>
                </field>

                <field id="navigation_heading" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Navigation</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="navigation_background" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Background</label>
                </field>
                <field id="navigation_backgroundColor" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Background Color</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                </field>
                <field id="navigation_backgroundRepeat" translate="label" type="select" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Background Repeat</label>
                    <source_model>Swissup\ThemeEditor\Model\Config\Source\BackgroundRepeat</source_model>
                </field>

                <field id="navigationUl_heading" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Navigation List</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="navigationUl_background" translate="label" type="text" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Background</label>
                </field>
                <field id="navigationUl_backgroundColor" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Background Color</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                </field>
                <field id="navigationUl_backgroundRepeat" translate="label" type="select" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Background Repeat</label>
                    <source_model>Swissup\ThemeEditor\Model\Config\Source\BackgroundRepeat</source_model>
                </field>

                <field id="navigationActive_heading" translate="label" type="text" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Navigation Active Item</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="navigationActive_background" translate="label" type="text" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Background</label>
                </field>
                <field id="navigationActive_backgroundColor" translate="label" type="text" sortOrder="190" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Background Color</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                </field>
                <field id="navigationActive_backgroundRepeat" translate="label" type="select" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Background Repeat</label>
                    <source_model>Swissup\ThemeEditor\Model\Config\Source\BackgroundRepeat</source_model>
                </field>

                <field id="headerContent_heading" translate="label" type="text" sortOrder="210" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Header Content</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="headerContent_background" translate="label" type="text" sortOrder="220" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Background</label>
                </field>
                <field id="headerContent_backgroundColor" translate="label" type="text" sortOrder="230" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Background Color</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                </field>
                <field id="headerContent_backgroundRepeat" translate="label" type="select" sortOrder="240" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Background Repeat</label>
                    <source_model>Swissup\ThemeEditor\Model\Config\Source\BackgroundRepeat</source_model>
                </field>
                <field id="headerContent_borderTop" translate="label" type="text" sortOrder="250" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Border Top</label>
                </field>

                <field id="breadcrumbs_heading" translate="label" type="text" sortOrder="260" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Breadcrumbs</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="breadcrumbs_background" translate="label" type="text" sortOrder="270" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Background</label>
                </field>
                <field id="breadcrumbs_backgroundColor" translate="label" type="text" sortOrder="280" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Background Color</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                </field>
                <field id="breadcrumbs_backgroundRepeat" translate="label" type="select" sortOrder="290" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Background Repeat</label>
                    <source_model>Swissup\ThemeEditor\Model\Config\Source\BackgroundRepeat</source_model>
                </field>

                <field id="pageMain_heading" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Page Main</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="pageMain_background" translate="label" type="text" sortOrder="310" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Background</label>
                </field>

                <field id="pageBottom_heading" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Page Bottom</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="pageBottom_background" translate="label" type="text" sortOrder="330" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Background</label>
                </field>
                <field id="pageBottom_backgroundColor" translate="label" type="text" sortOrder="340" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Background Color</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                </field>
                <field id="pageBottom_backgroundRepeat" translate="label" type="select" sortOrder="350" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Background Repeat</label>
                    <source_model>Swissup\ThemeEditor\Model\Config\Source\BackgroundRepeat</source_model>
                </field>
                <field id="pageBottom_borderTop" translate="label" type="text" sortOrder="360" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Border Top</label>
                </field>

                <field id="primaryButtons_heading" translate="label" type="text" sortOrder="370" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Buttons</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="primaryButtons_background" translate="label" type="text" sortOrder="380" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Background</label>
                </field>
                <field id="primaryButtons_backgroundColor" translate="label" type="text" sortOrder="390" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Background Color</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                </field>
                <field id="primaryButtons_backgroundRepeat" translate="label" type="select" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Background Repeat</label>
                    <source_model>Swissup\ThemeEditor\Model\Config\Source\BackgroundRepeat</source_model>
                </field>

                <field id="primaryButtonsHover_heading" translate="label" type="text" sortOrder="410" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Buttons Hover</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="primaryButtonsHover_background" translate="label" type="text" sortOrder="420" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Background</label>
                </field>
                <field id="primaryButtonsHover_backgroundColor" translate="label" type="text" sortOrder="430" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Background Color</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                </field>
                <field id="primaryButtonsHover_backgroundRepeat" translate="label" type="select" sortOrder="440" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Background Repeat</label>
                    <source_model>Swissup\ThemeEditor\Model\Config\Source\BackgroundRepeat</source_model>
                </field>
            </group>

            <group id="footer" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Footer</label>
                <field id="footerAdditional_heading" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Footer Additional</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="footerAdditional_borderTop" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Top Border</label>
                </field>
                <field id="footerAdditional_borderBottom" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Bottom Border</label>
                </field>
                <field id="switcherStore_heading" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Store Switcher</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="switcherStore_backgroundColor" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Background Color</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                </field>
            </group>

            <group id="navigation" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Navigation</label>
                <field id="navigationTopLinks_heading" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Navigation Top Links</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="navigationTopLinks_color" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Top Links Color</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                </field>
                <field id="navigationSeparators_heading" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Navigation Separators</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="navigationSeparators_borderRight" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Right Border</label>
                </field>
                <field id="navigationSeparators_boxShadow" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Box Shadow</label>
                </field>
            </group>

            <group id="fonts" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Fonts</label>
                <field id="blockTitle_heading" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Block Title</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="blockTitle_color" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Color</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                </field>
                <field id="pageTitle_heading" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Page Title</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="pageTitle_color" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Color</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                </field>
                <field id="productLink_heading" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product Link</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="productLink_color" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Color</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                </field>
                <field id="footerContacts_heading" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Footer Contacts</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="footerContacts_color" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Color</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                </field>
                <field id="footerInformationalHeadings_heading" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Footer Informational Headings</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="footerInformationalHeadings_color" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Color</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                </field>
                <field id="footerInformationalLinks_heading" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Footer Informational Links</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="footerInformationalLinks_color" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Color</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                </field>
            </group>
        </section>
        <!-- Absolute Theme Editor END -->

        <!-- Argento Essence Editor START -->
        <section id="swissup_argento_essence" translate="label" type="text" sortOrder="167" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Argento Essence</label>
            <tab>theme_editor</tab>
            <resource>Swissup_ThemeEditor::config_argento_essence</resource>

            <group id="background" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Background</label>
                <field id="body_heading" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Body</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="body_backgroundColor" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Color</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                </field>
                <field id="body_backgroundImage" translate="label" type="image" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Image</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Image</frontend_model>
                    <backend_model>Swissup\ThemeEditor\Model\Config\Backend\Image</backend_model>
                </field>
                <field id="body_backgroundRepeat" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Repeat</label>
                    <source_model>Swissup\ThemeEditor\Model\Config\Source\BackgroundRepeat</source_model>
                </field>
                <field id="body_backgroundPosition" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Position</label>
                    <comment>Values should include dimension units: 50% or -20px or 5em, etc</comment>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\BackgroundPosition</frontend_model>
                </field>

                <field id="page_heading" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Page content. <span style="color: #f00">Please remove navigation container background before using this option</span>]]></label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="page_backgroundColor" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Color</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                </field>
                <field id="page_backgroundImage" translate="label" type="image" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Image</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Image</frontend_model>
                    <backend_model>Swissup\ThemeEditor\Model\Config\Backend\Image</backend_model>
                </field>
                <field id="page_backgroundRepeat" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Repeat</label>
                    <source_model>Swissup\ThemeEditor\Model\Config\Source\BackgroundRepeat</source_model>
                </field>
                <field id="page_backgroundPosition" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Position</label>
                    <comment>Values should include dimension units: 50% or -20px or 5em, etc</comment>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\BackgroundPosition</frontend_model>
                </field>

                <field id="topToolbarContainer_heading" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Top toolbar container</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="topToolbarContainer_backgroundColor" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Color</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                </field>
                <field id="topToolbarContainer_backgroundImage" translate="label" type="image" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Image</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Image</frontend_model>
                    <backend_model>Swissup\ThemeEditor\Model\Config\Backend\Image</backend_model>
                </field>
                <field id="topToolbarContainer_backgroundRepeat" translate="label" type="select" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Repeat</label>
                    <source_model>Swissup\ThemeEditor\Model\Config\Source\BackgroundRepeat</source_model>
                </field>
                <field id="topToolbarContainer_backgroundPosition" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Position</label>
                    <comment>Values should include dimension units: 50% or -20px or 5em, etc</comment>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\BackgroundPosition</frontend_model>
                </field>

                <field id="headerContainer_heading" translate="label" type="text" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Header container</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="headerContainer_backgroundColor" translate="label" type="text" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Color</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                </field>
                <field id="headerContainer_backgroundImage" translate="label" type="image" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Image</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Image</frontend_model>
                    <backend_model>Swissup\ThemeEditor\Model\Config\Backend\Image</backend_model>
                </field>
                <field id="headerContainer_backgroundRepeat" translate="label" type="select" sortOrder="190" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Repeat</label>
                    <source_model>Swissup\ThemeEditor\Model\Config\Source\BackgroundRepeat</source_model>
                </field>
                <field id="headerContainer_backgroundPosition" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Position</label>
                    <comment>Values should include dimension units: 50% or -20px or 5em, etc</comment>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\BackgroundPosition</frontend_model>
                </field>

                <field id="navigationContainer_heading" translate="label" type="text" sortOrder="210" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Navigation container</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="navigationContainer_backgroundColor" translate="label" type="text" sortOrder="220" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Color</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                </field>
                <field id="navigationContainer_backgroundImage" translate="label" type="image" sortOrder="230" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Image</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Image</frontend_model>
                    <backend_model>Swissup\ThemeEditor\Model\Config\Backend\Image</backend_model>
                </field>
                <field id="navigationContainer_backgroundRepeat" translate="label" type="select" sortOrder="240" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Repeat</label>
                    <source_model>Swissup\ThemeEditor\Model\Config\Source\BackgroundRepeat</source_model>
                </field>
                <field id="navigationContainer_backgroundPosition" translate="label" type="text" sortOrder="250" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Position</label>
                    <comment>Values should include dimension units: 50% or -20px or 5em, etc</comment>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\BackgroundPosition</frontend_model>
                </field>

                <field id="nav_heading" translate="label" type="text" sortOrder="260" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Navigation</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="nav_backgroundColor" translate="label" type="text" sortOrder="270" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Color</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                </field>
                <field id="nav_backgroundImage" translate="label" type="image" sortOrder="280" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Image</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Image</frontend_model>
                    <backend_model>Swissup\ThemeEditor\Model\Config\Backend\Image</backend_model>
                </field>
                <field id="nav_backgroundRepeat" translate="label" type="select" sortOrder="290" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Repeat</label>
                    <source_model>Swissup\ThemeEditor\Model\Config\Source\BackgroundRepeat</source_model>
                </field>
                <field id="nav_backgroundPosition" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Position</label>
                    <comment>Values should include dimension units: 50% or -20px or 5em, etc</comment>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\BackgroundPosition</frontend_model>
                </field>

                <field id="contentContainer_heading" translate="label" type="text" sortOrder="310" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Content container</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="contentContainer_backgroundColor" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Color</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                </field>
                <field id="contentContainer_backgroundImage" translate="label" type="image" sortOrder="330" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Image</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Image</frontend_model>
                    <backend_model>Swissup\ThemeEditor\Model\Config\Backend\Image</backend_model>
                </field>
                <field id="contentContainer_backgroundRepeat" translate="label" type="select" sortOrder="340" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Repeat</label>
                    <source_model>Swissup\ThemeEditor\Model\Config\Source\BackgroundRepeat</source_model>
                </field>
                <field id="contentContainer_backgroundPosition" translate="label" type="text" sortOrder="350" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Position</label>
                    <comment>Values should include dimension units: 50% or -20px or 5em, etc</comment>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\BackgroundPosition</frontend_model>
                </field>

                <field id="footer_heading" translate="label" type="text" sortOrder="360" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Footer Container</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="footer_backgroundColor" translate="label" type="text" sortOrder="370" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Color</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                </field>
                <field id="footer_backgroundImage" translate="label" type="image" sortOrder="380" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Image</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Image</frontend_model>
                    <backend_model>Swissup\ThemeEditor\Model\Config\Backend\Image</backend_model>
                </field>
                <field id="footer_backgroundRepeat" translate="label" type="select" sortOrder="390" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Repeat</label>
                    <source_model>Swissup\ThemeEditor\Model\Config\Source\BackgroundRepeat</source_model>
                </field>
                <field id="footer_backgroundPosition" translate="label" type="text" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Position</label>
                    <comment>Values should include dimension units: 50% or -20px or 5em, etc</comment>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\BackgroundPosition</frontend_model>
                </field>

                <field id="footerTopToolbar_heading" translate="label" type="text" sortOrder="410" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Footer Top Toolbar</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="footerTopToolbar_backgroundColor" translate="label" type="text" sortOrder="420" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Color</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                </field>
                <field id="footerTopToolbar_backgroundImage" translate="label" type="image" sortOrder="430" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Image</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Image</frontend_model>
                    <backend_model>Swissup\ThemeEditor\Model\Config\Backend\Image</backend_model>
                </field>
                <field id="footerTopToolbar_backgroundRepeat" translate="label" type="select" sortOrder="440" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Repeat</label>
                    <source_model>Swissup\ThemeEditor\Model\Config\Source\BackgroundRepeat</source_model>
                </field>
                <field id="footerTopToolbar_backgroundPosition" translate="label" type="text" sortOrder="450" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Position</label>
                    <comment>Values should include dimension units: 50% or -20px or 5em, etc</comment>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\BackgroundPosition</frontend_model>
                </field>

                <field id="footerContent_heading" translate="label" type="text" sortOrder="460" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Footer Content</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="footerContent_backgroundColor" translate="label" type="text" sortOrder="470" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Color</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                </field>
                <field id="footerContent_backgroundImage" translate="label" type="image" sortOrder="480" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Image</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Image</frontend_model>
                    <backend_model>Swissup\ThemeEditor\Model\Config\Backend\Image</backend_model>
                </field>
                <field id="footerContent_backgroundRepeat" translate="label" type="select" sortOrder="490" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Repeat</label>
                    <source_model>Swissup\ThemeEditor\Model\Config\Source\BackgroundRepeat</source_model>
                </field>
                <field id="footerContent_backgroundPosition" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Position</label>
                    <comment>Values should include dimension units: 50% or -20px or 5em, etc</comment>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\BackgroundPosition</frontend_model>
                </field>

                <field id="footerBottomToolbar_heading" translate="label" type="text" sortOrder="510" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Footer Bottom Toolbar</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\CssSelectorHeading</frontend_model>
                </field>
                <field id="footerBottomToolbar_backgroundColor" translate="label" type="text" sortOrder="520" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Color</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Color</frontend_model>
                </field>
                <field id="footerBottomToolbar_backgroundImage" translate="label" type="image" sortOrder="530" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Image</label>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\Image</frontend_model>
                    <backend_model>Swissup\ThemeEditor\Model\Config\Backend\Image</backend_model>
                </field>
                <field id="footerBottomToolbar_backgroundRepeat" translate="label" type="select" sortOrder="540" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Repeat</label>
                    <source_model>Swissup\ThemeEditor\Model\Config\Source\BackgroundRepeat</source_model>
                </field>
                <field id="footerBottomToolbar_backgroundPosition" translate="label" type="text" sortOrder="550" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Position</label>
                    <comment>Values should include dimension units: 50% or -20px or 5em, etc</comment>
                    <frontend_model>Swissup\ThemeEditor\Block\Adminhtml\System\Config\Form\Field\BackgroundPosition</frontend_model>
                </field>
            </group>
        </section>
        <!-- Argento Essence Editor END -->
    </system>
</config>
